/* Overall */

/************/

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



/* Heading */

/*************/

h1 {
    font-size: 2em;
    line-height: 5;
    text-align: center;
    margin-bottom: 50px;
    ;
}

h2 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 1.5em;
}



/* Nav Menu */

/************/

nav#forside_menu {
    opacity: 0;
    display: none;
    transition: all 0.4s ease;
}

section#intro_site:hover nav#forside_menu {
    opacity: 1;
    background-color: blue;
}

nav#forside_menu ul {
    margin: 40px 0 0 0;
    list-style-type: none;
    width: 250px;
    height: 120px;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50%);
}

nav#forside_menu ul li {
    color: white;
    background-color: none;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
}

nav#forside_menu ul li a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
}

nav#forside_menu ul li a:hover {
    opacity: 1;
}


/* Logo */

/********/

section#intro_site:hover #logo {
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    margin: 0;
    margin-top: 0;
}

#logo {
    transition: all 0.4s ease;
    width: 250px;
    height: 250px;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    margin-top: 0;
}

#logo img {
    background-color: none;
    width: 250px;
    height: 150px;
    left: calc(50% - 125px);
    top: calc(50% - 250px);
    position: relative;
}

#logo .title {
    height: 75px;
    position: relative;
}

#logo .title h1 {
    height: 125px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    font-size: 2.5em;
    line-height: 1;
    color: white;
    font-weight: 400;
}

#logo .title h1 span {
    font-weight: 100;
    display: block;
    font-size: 0.7em;
}

section#intro_site img {
    /* Ingen kopiering af billeder */
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: all 0.3s ease;
}

#logo:hover {
    transform: scale(1.05);
}


/* Arrow */

/*********/

section#intro_site .arrow {
    opacity: 0.7;
    background: url('assets/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    position: absolute;
    width: 44px;
    height: 30px;
    left: calc(50% - 22px);
    bottom: 50px;
}

section#intro_site .arrow:hover {
    cursor: pointer;
    opacity: 1;
}


/* Video */

/*********/

section#intro_site {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: white;
}

video {
    position: absolute;
    top: 0;
    opacity: 0.9;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;

    z-index: -1;
    background-color: white;
}


/* Burger Menu */

/***************/

.burger_icon {
    position: fixed;
    margin: 10px;
    top: 0;
    left: 0;
    z-index: 16;
    cursor: pointer;
    width: 40px;
    height: 33px;
    transition: 1s ease;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.78);
    margin: 6px auto;
    transition: 0.4s ease;
    z-index: 20;
}


/* Rotering af menuen */

.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 10px);
}

.change .bar3 {
    transform: rotate(45deg) translate(-3px, -4px);
}

/** Fade **/

.change .bar2 {
    opacity: 0;
}

#burger_menu {
    display: none;
    top: 0;
    left: 0;

    z-index: 9;
    width: 30vw;
    height: 100vh;
    min-width: 100px;
    background-color: white;
    text-align: left;
    position: absolute;
    transition: 0.8s ease;
}

#burger_menu.show {
    display: block;
    position: fixed;
    width: 50vw;
    height: 100vh;
    margin: 0;
    z-index: 15;
}

#burger_menu a {
    display: block;
    text-align: left;
    padding: 8vw;
    font-size: 3.8vw;
    margin: 20px 0;
}


/* Header med navigation */

/*************************/

header {
    display: flex;
    justify-content: center;

    margin: 0;
    height: 0px;
    background-color: white;
    overflow: hidden;
    padding: 0;
    background-color: white;
    position: -webkit-sticky;
    /*     Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
}

#submenu {
    opacity: 0;
}

#submenu ul {
    list-style-type: none;
}

#submenu li {
    float: left;
    width: 25vw;
    max-width: 100px;
    border-right: 1px solid #eee;
}

#submenu li a {
    display: block;

    color: #a7a7a7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#submenu li:last-child {
    border-right: 0;
}

#submenu li a:hover {
    color: black;
}

#submenu .active {
    color: #767676;
}


/** Main **/

/***********/

main {
    background-color: white;
}


/* Content */

/************/

section#content {
    position: relative;
    background-color: white;
}

section#content .wrapper {
    padding: 50px 0 30px 0;
    margin: 0px auto 0;
    max-width: 1080px;
    background-color: white;
    width: 90%;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

section#content .wrapper article {
    position: relative;
    background-color: white;
    overflow: hidden;
    height: 600px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

section#content .wrapper article .tekst {
    background-color: #eee;
    padding: 25px;
    height: 250px;
    position: relative;
}

section#content .wrapper article .billede {
    background-color: #dedede;
    position: relative;
    height: 300px;
    overflow: hidden;
}

section#content .wrapper article img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}


/* Find Vej / Map */

/******************/

section#find_vej {
    position: relative;
    margin-bottom: 0px;
    background-color: white;

    padding: 0 0 50px 0;
}

section#find_vej .wrapper {
    max-width: 1080px;
    margin: auto;
    width: 90%;
    display: grid;
    background-color: white;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

section#find_vej .wrapper .tekst {
    background-color: #eee;
    padding: 25px;
    line-height: 1.7;
    height: 350px;
}

section#find_vej .wrapper #map {
    position: relative;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 350px;
}


/* Footer */

/**********/

footer {
    position: relative;
    bottom: 0;
    z-index: 0;
    color: rgba(255, 255, 255, 0.86);
    background-color: #343434;
    display: block;
}

footer .wrapper {
    position: relative;
    display: grid;
    margin: 0px auto;
    padding: 20px 0;
    grid-template-columns: repeat(1, 1fr);
}

footer .wrapper article {
    width: 70%;
    max-width: 250px;
    margin: 0px auto;
    padding: 20px 0;
}

footer .wrapper article:nth-child(3) {
    display: none;
}

footer img {
    padding: 90px 0 40px 0;
    margin: 0px auto;
    width: 60px;
    display: block;
}

footer .wrapper article:nth-child(2) {

    border-top: 1px solid rgba(255, 255, 255, 0.64);
    border-bottom: 1px solid rgba(255, 255, 255, 0.64);
}

footer .wrapper article p,
h3 {
    line-height: 1.5;
    margin: 30px 0;
}

footer .wrapper article ul {
    list-style-type: none;
}

footer .wrapper article ul li a {
    color: white;
    text-align: left;
}













/* Værker*/

.image_box {
    margin: 0 auto;
}

.image {
    width: 100%;
}

/* Desktop */

.previous_btn {
    left: 50px;
}

.next_btn {
    right: 50px;
}










/* Slider */

/***********/

section#showcase {
    position: relative;
    height: 465px;
    background-color: white;
}

.slider {
    position: relative;
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
}

.slide_viewer {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {
    background: #D7A151;
}

.slide:nth-of-type(2) {
    background: #F4E4CD;
}

.slide:nth-of-type(3) {
    background: #C75534;
}

.slide:nth-of-type(4) {
    background: #D1D1D4;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: #6aacf8;
    cursor: pointer;
}

.directional_nav {
    height: 400px;
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
    top: -400px;
}

.directional_nav img {
    width: 50px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    height: 50px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 50px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
}
























@media screen and (min-width: 900px) {

    /* Header */
    header {
        height: 50px;
    }

    /* Logo */
    section#intro_site #forside_menu {
        display: block;
    }

    section#intro_site:hover #logo {
        left: calc(50% - 125px);
        top: calc(50% - 250px);
        margin: 0;
    }

    section#intro_site #logo {
        left: calc(50% - 125px);
        top: calc(50% - 250px);
        margin-top: 125px;
    }

    #submenu {
        opacity: 1;
    }


    /* Slider */
    .previous_btn {
        left: 75px;
    }

    .next_btn {
        right: 75px;
    }

    section#content .wrapper article {
        height: 400px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    section#content .wrapper article .tekst {
        height: 400px;
    }
    section#content .wrapper article .billede {
        height: 400px;
    }

    section#find_vej .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    section#find_vej .wrapper .tekst {
        height: 350px;
    }

    section#find_vej .wrapper #map {
        height: 400px;
    }

    /* Værker desktop */
    #products_container {
        position: relative;
    }

    #products_container .product {
        position: relative;
        height: 300px;
        overflow: hidden;
    }

    #products_container .product h2 {
        position: absolute;
        color: white;
        z-index: 10;
    }

    #products_container article .product .image_box {
        position: absolute;
        min-width: 250%;
        top: -125%;
        min-height: 250%;
    }

    #products_container article:nth-child(2) .product .image_box {
        position: relative;
        margin: 0;
        float: right;
    }

    #products_container article img {
        position: absolute;
        width: 100%;
        opacity: 0.8;
    }


    .burger_icon,
    .burger_menu {
        display: none;
    }

    #submenu {
        display: block;
    }






    /* Footer */
    /**********/

    footer .wrapper {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1080px;
        grid-gap: 30px;
        width: 90%;
        overflow: hidden;
    }

    footer .wrapper article {
        margin: 0 auto;
        width: 100%;
        padding: 30px;
    }


    footer .wrapper article:nth-child(3) {
        display: block;
    }

    footer .wrapper article:nth-child(2) {
        border: none;
    }






    /* Landingpage */
    section#landingpage .wrapper {
        padding: 25px 0 30px 0;
        margin: 0px auto 0;
        max-width: 1080px;
        background-color: white;
        width: 90%;
        position: relative;
    }

    section#landingpage .wrapper iframe {
        width: 100%;
        height: 500px;
    }



}
