/* Overall */

/************/

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555555;
}

a {
    color: #555555;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}



/* Heading */

/*************/

h1 {
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    margin: 20px 0;
    font-weight: 300;
    font-size: 1.5em;
}

h3 {
    font-weight: 300;
}

h4 {
    font-weight: 300;
}



/* Nav Menu */

/************/

nav#forside_menu {
    opacity: 0;
    display: none;
    transition: all 0.4s ease;
}

section#intro_site:hover nav#forside_menu {
    opacity: 1;
    background-color: blue;
}

nav#forside_menu ul {
    margin: 40px 0 0 0;
    list-style-type: none;
    width: 250px;
    height: 120px;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50%);
}

nav#forside_menu ul li {
    color: white;
    background-color: none;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
}

nav#forside_menu ul li a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
}

nav#forside_menu ul li a:hover {
    opacity: 1;
}


/* Logo */

/********/

section#intro_site:hover #logo {
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    margin: 0;
    margin-top: 0;
}

#logo {
    transition: all 0.4s ease;
    width: 250px;
    height: 250px;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    margin-top: 0;
}

#logo img {
    background-color: none;
    width: 250px;
    height: 150px;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    position: relative;
}

#logo .title {
    height: 75px;
    position: relative;
}

#logo .title h1 {
    height: 125px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    font-size: 2.5em;
    line-height: 1;
    color: white;
    font-weight: 400;
}

#logo .title h1 span {
    font-weight: 100;
    display: block;
    font-size: 0.7em;
}

section#intro_site img {
    /* Ingen kopiering af billeder */
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: all 0.3s ease;
}



/* Arrow */

/*********/

.arrow {
    opacity: 0.7;
    background: url('assets/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    position: absolute;
    width: 44px;
    height: 30px;
    left: calc(50% - 22px);
    bottom: 50px;
}

.arrow:hover {
    cursor: pointer;
    opacity: 1;
}

.arrow2 {
    opacity: 0.9;
    background: url('assets/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    position: absolute;
    width: 44px;
    height: 30px;
    left: calc(50% - 22px);
    bottom: 50px;
}

.arrow2:hover {
    cursor: pointer;
    opacity: 1;
}


/* Video */

/*********/

section#intro_site {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: white;
}

video {
    position: absolute;
    top: 0;
    opacity: 0.9;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;

    z-index: -1;
    background-color: white;
}


/* Burger Menu */

/***************/

.burger_icon {
    position: fixed;
    margin: 5%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 8px;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 16;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: 1s ease;
}

.bar1,
.bar2,
.bar3 {
    width: 22px;
    height: 3px;
    background-color: #9d9d9d;
    margin: 4px auto;
    transition: 0.4s ease;
    z-index: 20;
}

.bar1 {
    margin-top: 6px;
}


/* Rotering af menuen */

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/** Fade **/

.change .bar2 {
    opacity: 0;
}

#burger_menu {
    display: none;
    top: 0;
    left: 0;

    z-index: 9;
    width: 30vw;
    height: 100vh;
    min-width: 100px;
    background-color: white;
    text-align: left;
    position: absolute;
    transition: 0.8s ease;
}

#burger_menu.show {
    display: block;
    position: fixed;
    box-shadow: 0 0px 1050px rgba(0, 0, 0, 0.24);
    width: 50vw;
    height: 100vh;
    margin: 0;
    z-index: 15;
}

#burger_menu ul {
    margin: 100px 5%;
    list-style: none;
}

#burger_menu a {
    display: block;
    text-align: left;
    margin: 10px;
    padding: 0 20px;
    color: #898989;
    text-decoration: none;
    font-size: 1.1em;
    margin: 15px 5%;
}

#burger_menu a:hover {
    color: black;
}


/* Header med navigation */

/*************************/

header {
    display: flex;
    justify-content: center;

    margin: 0;
    height: 0px;
    background-color: white;
    overflow: hidden;
    padding: 0;
    background-color: white;
    position: -webkit-sticky;
    /*     Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
}

#submenu {
    opacity: 0;
}

#submenu ul {
    list-style-type: none;
}

#submenu li {
    float: left;
    width: 25vw;
    max-width: 100px;
    border-right: 1px solid #eee;
}

#submenu li a {
    display: block;

    color: #afafaf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#submenu li:last-child {
    border-right: 0;
}

#submenu li a:hover {
    color: black;
}

#submenu .active {
    color: #656565;
}


/** Main **/

/***********/

main {
    background-color: white;
}


/* Content */

/************/

section#content {
    position: relative;
    background-color: white;
}

section#content .wrapper {
    padding: 50px 0 50px 0;
    margin: 0px auto 0;
    max-width: 1080px;
    background-color: white;
    width: 90%;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

section#content .wrapper article {
    position: relative;
    background-color: white;
    overflow: hidden;
    min-height: 400px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

section#content .wrapper article .tekst {
    background-color: #eee;
    padding: 25px;
    height: 320px;
    position: relative;
}

section#content .wrapper article .billede {
    background-color: #dedede;
    position: relative;
    height: 300px;
    overflow: hidden;
}

section#content .wrapper article .billede img {
    transform: scale(1);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease;
}

section#content .wrapper article .billede img:hover {
    transform: scale(1.07);
    position: absolute;
}

section#content .wrapper article img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}


/* Find Vej / Map */

/******************/

section#find_vej {
    position: relative;
    margin-bottom: 0px;
    background-color: white;

    padding: 0 0 50px 0;
}

section#find_vej .wrapper {
    max-width: 1080px;
    margin: auto;
    width: 90%;
    display: grid;
    background-color: white;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

section#find_vej .wrapper .tekst {
    background-color: #eee;
    padding: 25px;
    line-height: 1.7;
    height: 350px;
}

section#find_vej .wrapper #map {
    position: relative;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 350px;
}


/* Footer */

/**********/

footer {
    position: relative;
    bottom: 0;
    z-index: 0;
    color: rgb(96, 96, 96);
    background-color: #eee;
    display: block;
}

footer a {
    text-decoration: none;
}

footer .wrapper {
    position: relative;
    display: grid;
    margin: 0px auto;
    padding: 20px 0;
    grid-template-columns: repeat(1, 1fr);
}

footer .wrapper article {
    width: 80%;
    max-width: 350px;
    margin: 0px auto;
    padding: 20px 0;
}

footer .wrapper article:nth-child(4) {
    display: none;
}

footer .wrapper article:nth-child(2) {

    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
}

footer .wrapper article p,
h3 {
    line-height: 1.5;
    margin: 30px 0;
}

footer .wrapper article ul {
    list-style-type: none;
}

footer .wrapper article ul li a {
    color: #555555;
    text-decoration: none;
    text-align: left;
}

footer .wrapper article ul li a:hover {
    color: #222222;
}

footer .sociale_medier {
    position: relative;
    width: 240px;
    margin: 30px auto 30px auto;
}

footer .sociale_medier img {
    width: 40px;
    height: 40px;
    float: left;
    padding: 0 20px;
    opacity: 0.4;
    margin-bottom: 20px;
}

footer .sociale_medier img:hover {
    opacity: 0.6;
}













/* Værker*/

.image_box {
    margin: 0 auto;
}

.image {
    width: 100%;
}

/* Desktop */

.previous_btn {
    left: 50px;
}

.next_btn {
    right: 50px;
}










/* Slider */

/***********/

section#showcase {
    position: relative;
    display: none;
    height: 465px;
    background-color: white;
}

.slider {
    position: relative;
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
}

.slide_viewer {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {
    background: #D7A151;
}

.slide:nth-of-type(2) {
    background: #F4E4CD;
}

.slide:nth-of-type(3) {
    background: #C75534;
}

.slide:nth-of-type(4) {
    background: #D1D1D4;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: #6aacf8;
    cursor: pointer;
}

.directional_nav {
    height: 400px;
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
    top: -400px;
}

.directional_nav img {
    width: 50px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    height: 50px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 50px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
}


/* Produkter container */

/* Værker desktop */

.container {
    position: relative;
    width: auto;
    height: auto;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
}

#products_container {
    display: none;
}

#side_products {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    height: auto;
    margin: 70px 0 0 0;
}

#side_products article {
    position: relative;
    height: 400px;

    width: 80%;
    margin: 0px auto;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
    opacity: 0.7;
    transition: all 0.3s ease;
    overflow: hidden;
}

#side_products article:hover {
    cursor: pointer;
    opacity: 0.9;
}

#side_products article .product .image_box {
    position: relative;
    overflow: hidden;
    height: 360px;
    margin-top: 20px;
    background-color: white;
    z-index: -1;
}

#side_products article .product .image_box img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    background-color: white;
    z-index: -1;
}

#side_products article .product .image_box img {
    transform: scale(1);
    transition: all 0.4s ease;

}

#side_products article .product:hover img {
    transform: scale(1.1);
}

#side_products article .product h2 {
    color: #393939;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: calc(50% - 25px);
    height: 50px;
    top: 50;
    text-align: center;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    font-size: 1.2em;
}


/* Singleview */

/***************/

#single_item,
h1 {
    text-align: center;
}

.single_image_top {
    margin: 0 auto 30px 0;
}

.single_image_top img {
    height: 66.2vw;
    width: 100vw;
}

#single_item .single_container_text {
    margin: -20px 30px 50px 30px;
    text-align: left;
}

.product_1 {
    width: 100%;
    height: 100%;
}

#single_vedligeholdelse {
    background-color: #eee;
    margin: 30px;
    padding: 0 25px 30px 25px;
}

#single_vedligeholdelse h1 {
    font-size: 1.5em;
    text-align: left;
    margin: 0;
    padding: 40px 0;
}

.single_background_image {
    display: none;
}

/* Desktop */

/* Om os */

section#omos .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto 40px auto;
    width: 90%;
    max-width: 1080px;
    grid-gap: 25px;
}

section#omos .wrapper article {
    padding: 0px 30px;
    margin: 0px 0 30px 0;
}

section#omos .wrapper article h3 {
    font-size: 2em;
    font-weight: 300;
    margin: 15px 0 0 0;
}

section#omos .wrapper article h4 {
    font-size: 1.2em;
    font-weight: 300;
    margin: 5px 0 15px 0;
    padding: 0;
}

section#omos .profil {
    width: 90%;
    padding: 0px 0;
    max-width: 1080px;
    background: #eee;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


section#omos .profil .tekst {}

section#omos .profil .billede {}


section#omos .profil .tekst .inner {
    margin: 0px auto 50px auto;
}

section#omos .profil h2 {
    padding: 0px 0 0;
    width: 300px;
    margin: 20px auto;
}

section#omos .profil p {
    padding: 0px 0 0 0;
    width: 300px;
    margin: auto;
}

section#omos .profil img {
    margin: 50px auto;
    display: block;
    width: 300px;
    height: 300px;
    opacity: 0.9;
    border-radius: 50%;
}


/* Konceptet */

/*************/

section#koncept .wrapper {
    display: grid;
    margin: 0 0 0px 0;
    grid-template-columns: repeat(1s, 1fr);
}

section#koncept .wrapper article {
    background-color: white;
    min-height: calc(100vh);
}

section#koncept .wrapper article:nth-child(2) {
    background-color: white;
    margin-bottom: 50px;
    min-height: auto;
}

section#koncept .koncept-wrapper article:nth-child(1) {
    background-color: white;
}

section#koncept .wrapper article h1 {
    padding: 80px 0 5px 0;
    font-weight: 300;
}

section#koncept .wrapper article p {
    padding: 0 55px;
    max-width: 400px;
    margin: 0 auto;
    line-height: 2;
}

section#koncept .wrapper article:first-child {
    background-image: url(assets/inge3.jpg);
    background-size: cover;
    opacity: 0.8;
    background-position: center;
}

/* Koncept wrapper */

/*******************/

section#koncept .koncept-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1080px;
    width: 90%;
    margin: 0 auto 50px auto;
    grid-gap: 0px;
}

section#koncept .koncept-wrapper article:first-child {
    margin: 40px;
}

section#koncept .koncept-wrapper article {
    margin: 0px;
    position: relative;
}


blockquote {
    font-size: 2em;
    margin: 25px;
    padding: 20px 40px;
    line-height: 1.45;
    position: relative;
    color: #555555;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\0022";
    font-size: 100px;
    position: absolute;
    left: -10px;
    top: -20px;
    color: #555555;

}

blockquote cite {
    color: #999999;
    font-size: 0.6em;
    display: block;
    font-style: normal;
    margin-top: 15px;
}

/* SVG */

#kn1,
#kn2,
#kn3,
#kn4:hover {
    cursor: pointer;
}

.top {
    width: 100%;
    background-color: #eee;
    padding: 1px 0;
    margin-bottom: 30px
}

.bottom {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(assets/riflet2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.65;
    transition: all 0.3s ease;
}

.bottom:hover {
    opacity: 0.8;
}


.bottom h3 {
    position: absolute;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    width: 100%;
    color: white;
    z-index: 10;
    line-height: 50px;
    color: white;
    font-size: 1.5em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.62);
    text-align: center;
}

.la {
    height: 300px
}


/* Landingpage */

section#landingpage h1 {
    color: #555555;
    padding: 0;
    margin: 25px 0 0 0;
    font-weight: 300;
    font-size: 1.8em;
}

.iframe {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.tak_wrapper {
    max-width: 1080px;
    margin: 100px auto 50px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.tak_wrapper .tekst {
    padding: 40px;
    min-height: 300px;
    line-height: 1.5;
    background-color: #eee;
}

.tak_wrapper .bottom {
    margin-top: 40px;
    min-height: 380px;
}

/** Responsive iframe

https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php

**/

.iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thinware {
    margin-top: -20px;
    margin-bottom: 30px;
}

/* Form */

#deltag_section {
    position: relative;
    margin-bottom: 20px;
}

#deltag_section h3 {
    text-align: center;
}

input[type=text],
input[type=email],
select {
    width: 80%;
    padding: 12px 20px;
    margin: 0px auto;
    display: block;
    border: 1px solid #ccc;
    ;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 0 auto;
    height: 0;
    width: 80%;
    padding: 0;
}

input[type=submit] {
    width: 80%;
    background-color: #eeeeee;
    color: #555555;
    padding: 14px 20px;
    margin: 18px auto;
    display: block;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

input[type=submit]:hover {
    background-color: #555555;
    color: white;
}



@media screen and (min-width: 900px) {

    /* Header */
    header {
        height: 50px;
    }

    /* Logo */
    section#intro_site #forside_menu {
        display: block;
    }

    section#intro_site:hover #logo {
        left: calc(50% - 125px);
        top: calc(50% - 250px);
        margin: 0;
    }

    section#intro_site #logo {
        left: calc(50% - 125px);
        top: calc(50% - 250px);
        margin-top: 125px;
    }

    #submenu {
        opacity: 1;
    }


    /* Slider */
    .previous_btn {
        left: 75px;
    }

    .next_btn {
        right: 75px;
    }

    section#content .wrapper article {
        height: 400px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    section#content .wrapper article .tekst {
        height: 400px;
    }
    section#content .wrapper article .billede {
        height: 400px;
    }

    section#find_vej .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    section#find_vej .wrapper .tekst {
        height: 350px;
    }

    section#find_vej .wrapper #map {
        height: 400px;
    }

    .burger_icon,
    .burger_menu {
        display: none;
    }

    #submenu {
        display: block;
    }

    .la {
        height: 400px
    }


    /* Konceptet */
    /*************/
    section#koncept .wrapper {
        margin: 0 0 40px 0;
        grid-template-columns: repeat(2, 1fr);
    }

    section#koncept .wrapper article {
        min-height: calc(100vh - 50px);
    }


    section#koncept .wrapper article:first-child {}

    section#koncept .wrapper article:nth-child(2) {
        min-height: calc(100vh - 50px);
        margin-bottom: 0px;
    }

    section#koncept .wrapper article p {
        padding-bottom: 40px;
    }

    section#koncept .koncept-wrapper article {
        margin: 40px;
    }

    section#koncept .koncept-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    section#koncept .koncept-wrapper article:first-child {
        margin: 0px;
        margin-left: 25px;
    }

    section#koncept .koncept-wrapper article:nth-child(2) {
        margin-left: 50px;
    }

    section#koncept .koncept-wrapper article {
        margin: 0px;
    }

    .top {

        padding: 20px 0;
    }



    /* Footer */
    /**********/
    footer .wrapper {
        grid-template-columns: repeat(4, 1fr);
        max-width: 900px;
        grid-gap: 30px;
        width: 90%;
        overflow: hidden;
    }

    footer .wrapper article {
        margin: 0 auto;
        width: 100%;
        padding: 30px;
    }


    footer .wrapper article:nth-child(4) {
        display: block;
    }

    footer .wrapper article:nth-child(2) {
        border: none;
    }

    footer .sociale_medier {
        grid-column: 1/5;

        margin: 0px auto 30px auto;
    }



    /***************/
    /* Landingpage */
    section#landingpage .wrapper {
        padding: 25px 0 30px 0;
        margin: 0px auto 0;
        max-width: 1080px;
        background-color: white;
        width: 90%;
        position: relative;
    }

    .tak_wrapper {
        max-width: 1080px;
        margin: 50px auto 50px auto;
        width: 90%;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .tak_wrapper .tekst {}

    .tak_wrapper .bottom {
        margin-top: 0px;
    }


    /* Om os */
    /**********/
    section#omos .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    section#omos .profil {
        grid-template-columns: repeat(2, 1fr);
    }

    section#omos .profil img {
        margin: 50px 50px;
        float: right;
    }

    section#omos .profil p {
        margin: 0;
    }
    section#omos .profil h2 {
        margin: 20px 0;
        padding: 40px 0 0;
    }

    section#omos .profil .tekst .inner {
        margin: 50px;
    }

    section#omos .profil {
        padding: 50px 0;
    }


    /* Værker */
    /***********/
    .container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        height: calc(100vh - 50px);
        display: grid;
        grid-template-columns: 1fr 250px;
    }

    /* Side Products */
    /*****************/
    #side_products {
        display: grid;
        margin: 0px 0 0 0;
        grid-template-columns: 1fr;
        overflow: auto;
        overflow-y: scroll;
        background-color: white;
        height: 100vh;
    }

    #side_products article {
        height: 250px;
        padding: 0;
        border: none;
    }

    #side_products article:last-child {
        margin-bottom: 50px;
        border-bottom: none;
    }

    #side_products article:first-child {
        margin-top: -30px;
    }

    #side_products article .product .image_box {
        height: 210px;
    }

    #side_products article .product h2 {
        color: #ffffff;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
        background: none;
        font-weight: 300;
        position: absolute;
        z-index: 10;
        top: calc(50% - 25px);
        height: 50px;
        top: 50;
        text-align: center;
        line-height: 50px;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        font-size: 1em;
        text-transform: lowercase;
    }


    /* Products container */
    /**********************/
    #products_container {
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background-color: white;
    }

    #products_container video {
        position: absolute;
        top: 0;
        opacity: 0.1;
        width: auto;
        height: auto;
        overflow: hidden;
        min-height: 100%;
        min-width: 100%;

        z-index: 1;
        background-color: white;
    }

    #products_container .wrapper {
        position: absolute;
        padding: 25px;
        left: calc(50% - 300px);
        height: 500px;
        width: 600px;
        top: calc(50% - 300px);
        z-index: 2;
    }


    #products_container h1 {
        color: #555555;
        text-align: left;
        text-transform: lowercase;
        margin: 0px 0;
        padding: 0;
        font-size: 2.1em;
        height: 90px;
        line-height: 100px;
        font-weight: 300;
    }

    .popup_container_text {
        font-size: 1em;
        line-height: 1.5;
        padding: 10px 0;
        height: 80px;
    }
    .popup_image_top {}

    .popup_image_top img {
        position: relative;
        width: 80%;
        opacity: 0.9;
        display: block;
    }

    .popup_background_image {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        margin: 0 auto;
    }

    .popup_background_image img {
        width: 100%;
        min-height: 100%;
        opacity: 1;
        display: none;
        object-fit: cover;
    }

    section#vedligeholdelse {
        display: none;
    }

    .arrow2 {
        display: none;
    }





}
